<div class="card" style="width: 18rem" [routerLink]="['/event', event.id]">
  <img
    src="../../../assets/angular-logo.svg"
    class="card-img-top"
    alt="angular-logo"
  />
  <div class="card-body">
    <h5 class="card-title">
      Event Id: <span>{{ event?.id }}</span>
    </h5>

    <h5><span>Event Name:</span> {{ event?.name }}</h5>
    <p [ngClass]="getStartClass()"><span>Event Name:</span>{{ event?.time }}</p>
    <p *ngIf="event.location?.country">
      <span>Location: </span>{{ event.location.country }}
    </p>
    <a href="#" class="btn btn-primary" (click)="sendMessage()"
      >Send from Child</a
    >
  </div>
</div>

<!--
   id: 1,
    name: 'Angular Connect',
    time: '10:00 am',
    price: 599.99,
    imageUrl: '',
    location: {
      address: '1057 DT',
      coty: 'London',
      country: 'England',
    },
 -->
