<p>profile works!</p>

<div>
  <h1>Edit your Profile</h1>
  <hr />
  <div class="col-md-4">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="fistName">First Name:</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="first Name ..."
          formControlName="firstName"
        />
      </div>
      <div class="form-group">
        <label for="fistName">Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="LastName"
          placeholder="Last Name ..."
          formControlName="lastName"
        />
      </div>

      <button class="btn btn-primary">Save</button>
      <button class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>

{{ profileForm.controls.firstName.valid }}
